pom.xml
pom.xml.asc
*jar
*log
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.repl/
figwheel_server.log
resources/**/compiled/
out/
*.orig
